@model HCCADBWebAppPrototype1.ViewModels.AddToInterestConsumerRepViewModel

@{
    ViewBag.Title = "AddToInterest";
}

<h2>AddToInterest</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Area Of Interest</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ConsumerRepAreaOfInterestModel.ConsumerRepAreaOfInterestModelID, "ConsumerRepAreaOfInterestModel", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ConsumerRepAreaOfInterestModel.ConsumerRepAreaOfInterestModelID, Model.ConsumerRepAreaOfInterests) 
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 