@model IEnumerable<HCCADBWebAppPrototype1.Models.CommitteeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Committee Status: @Html.DropDownList("searchByStatus", (SelectList)ViewBag.CommitteeStatuses)
        Committee Area: @Html.DropDownList("searchByArea", (SelectList)ViewBag.AreasOfHealth)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommitteeName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommitteeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CommitteeModelID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CommitteeModelID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CommitteeModelID })
            </td>
        </tr>
    }

</table>
