@model HCCADBWebAppPrototype1.Models.ConsumerRepAreaOfInterestModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsumerRepAreaOfInterestModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaOfInterestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOfInterestName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsumerRepAreaOfInterestModelID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Back to Main", "Main", "Main")
</p>
