@model HCCADBWebAppPrototype1.Models.ConsumerRepModel_ConsumerRepAreaOfInterestModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsumerRepModel_ConsumerRepAreaOfInterestModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsumerRepModel.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumerRepModel.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumerRepAreaOfInterestModelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumerRepAreaOfInterestModel.AreaOfInterestName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsumerRepModel_ConsumerRepAreaOfInterestModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
