@model IEnumerable<HCCADBWebAppPrototype1.Models.ConsumerRepModel_ConsumerRepAreaOfInterestModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConsumerRepModel.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumerRepAreaOfInterestModelID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerRepModel.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerRepAreaOfInterestModel.AreaOfInterestName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConsumerRepModel_ConsumerRepAreaOfInterestModelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConsumerRepModel_ConsumerRepAreaOfInterestModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConsumerRepModel_ConsumerRepAreaOfInterestModelID })
        </td>
    </tr>
}

</table>
