@model IEnumerable<HCCADBWebAppPrototype1.Models.CommitteeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Committee", FormMethod.Get))
    {
    <p>
        Status: @Html.DropDownList("committeeStatus", "All")
        Area: @Html.DropDownList("committeeArea", "All")
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
    }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommitteeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommitteeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HealthArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CommitteeId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CommitteeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CommitteeId })
                </td>
            </tr>
        }

    </table>
