@model HCCADBWebAppPrototype1.Models.ConsumerRepCommitteeHistoryModel
@using HCCADBWebAppPrototype1.Extensions

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Committee History</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Committee", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CommitteeModelID", String.Empty)
                @Html.ValidationMessageFor(model => model.CommitteeModelID)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Consumer Rep", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ConsumerRepModelID", String.Empty)
                @Html.ValidationMessageFor(model => model.ConsumerRepModelID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrepTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrepTime)
                @Html.ValidationMessageFor(model => model.PrepTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Meetingtime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Meetingtime)
                @Html.ValidationMessageFor(model => model.Meetingtime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndorsementDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndorsementDate)
                @Html.ValidationMessageFor(model => model.EndorsementDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndorsementType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.EndorsementType)
                @Html.ValidationMessageFor(model => model.EndorsementType)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
