@model HCCADBWebAppPrototype1.Models.CommitteeModel_CommitteeAreaOfHealthModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommitteeModel_CommitteeAreaOfHealthModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommitteeAreaOfHealthModel.AreaOfHealthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommitteeAreaOfHealthModel.AreaOfHealthName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommitteeModel.CommitteeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommitteeModel.CommitteeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommitteeModel_CommitteeAreaOfHealthModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
